#
# Managed by ansible
# Role: systemd-timer
#
[Unit]
Description={{ item.key }} Service

[Service]
Type=oneshot
SyslogIdentifier={{ item.value.timer_syslog_identifier | default(systemd_timer_syslog_identifier_prefix ~ item.key) }}
{% if item.value.timer_syslog_facility is defined or systemd_timer_syslog_facility %}
SyslogFacility={{ item.value.timer_syslog_facility | default(systemd_timer_syslog_facility) }}
{% endif %}
{% if item.value.timer_envfile is defined %}
EnvironmentFile={{ item.value.timer_envfile }}
{% endif %}
{% if item.value.timer_precommand is defined %}
ExecStartPre={{ item.value.timer_precommand }}
{% endif %}
ExecStart={{ item.value.timer_command }}
{% if item.value.timer_user is defined and (systemd_scope is not defined or systemd_scope != 'user') %}
User={{ item.value.timer_user }}
{% endif %}
{% if item.value.timer_postcommand is defined %}
ExecStartPost={{ item.value.timer_postcommand }}
{% endif %}
{% if item.value.timer_workingdir is defined %}
WorkingDirectory={{ item.value.timer_workingdir }}
{% endif %}
